<div style="
            position: absolute;
            bottom: 0;
            width: 99%;
            display: flex;
            justify-content: center; 
            border-top: 2px solid #eaeaea;"
>
(c) 2020 - Frédéric Diaz - Simple web app with Fastify
</div>