
<div class="graph">
    In graph :<br>
    <script type="text/javascript">
        function drawGraph() {
            const canvas = document.getElementById('canvas');
            const ctx = canvas.getContext('2d');
            ctx.font = '16px serif';
            let id = 0;
            <% graphCanvas.forEach( function(vertex){ %>
                ctx.beginPath();
                ctx.fillStyle = 'rgb(25, 127, 224)';
                ctx.arc(<%= vertex %>, 25, 0, Math.PI * 2, true);
                ctx.fill();
                ctx.fillStyle = 'black';
                ctx.fillText(id++, <%= vertex %>);
            <% }); %>
        }
    </script>
    <canvas id="canvas" width="300" height="300">
        <%- include('./graphAscii', { graphAscii }); %>
    </canvas>
</div>