<div stype="
box-sizing: content-box;
width: 100%;
" >

    <div style="text-align:left; display: inline-block; width: 20%;">
        <img src="./logo" alt="logo"/>
    </div>
    <div style="text-align:center; display: inline-block; width: 79%;">
        <h1>Path finder</h1>
    </div>
</div>
<div>
    <a href="<%= href %>"><%= trail %></a>
</div>