<div>

    <div class="logo">
        <img src="./logo" alt="logo"/>
    </div>
    <div style="text-align:center; display: inline-block; width: 79%;">
        <h1>Path finder</h1>
    </div>
</div>
<div>
    <a href="<%= href %>"><%= trail %></a>
</div>