body {
    padding: 0;
    margin : 0;
}
  
header {
    box-sizing: content-box;
    width: 100%;
}

.logo {
    text-align:left; display: inline-block; width: 20%;
}

.title {
    text-align:center; display: inline-block; width: 79%;
}

.trail {
    padding-left: 40;
}

.layout {
    margin:20;
}

.graphAscii {
    font-family: monospace;
}

.graph{
    margin : 0;
    margin-left: 40;
    margin-right: 40;
    text-align:center;
}

.error {
    background-color: #9b1f53;
    padding : 10;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    display: flex;
    justify-content: center; 
    border-top: 2px solid #eaeaea;
    height: 20;
}