body {
    padding: 0;
    margin : 0;
}
  
header {
    box-sizing: content-box;
    width: 100%;
}

.logo {
    text-align:left; display: inline-block; width: 20%;
}

.title {
    text-align:center; display: inline-block; width: 79%;
}

.trail {
    padding-left: 40;
}

.layout {
    margin:20;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    display: flex;
    justify-content: center; 
    border-top: 2px solid #eaeaea;
    height: 20;
}