<html>
    <head>
        <%- include('./components/head'); %>
    </head>
    <body>

        <header>
            <%- include('./components/header', {
                href : "./", 
                trail:"Home" } ); %>
        </header>

        <div class="layout" >
            Error:<br/>
            <%= error %>
        </div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>