<html>
    <%- include('./components/head'); %>
    <body>

        <header>
            <%- include('./components/header', {
                href : "./", 
                trail:"Home" } ); %>
        </header>

        <div class="layout error" >
            <h1>Sorry</h1>
            <%= error %>
            <br/>
            <br/>
        </div>

        
        <%- include('./components/footer'); %>
    </body>
</html>