<html>
    <head>
        <%- include('./components/head'); %>
    </head>
    <body>

        <header>
            <%- include('./components/header', {
                href : "./", 
                trail:"Home" } ); %>
        </header>

        <div class="layout error" >
            <h1>Sorry</h1>
            <%= error %>
            <br/>
            <br/>
        </div>

        <footer>
            <%- include('./components/footer'); %>
        </footer>
    </body>
</html>