<h1 style="text-align:center;">Path finder</h1>
<br/>
<br/>
<a href="./graph?from=0&to=4&by=fast">Find path from 0 to 4 by fast</a>
<br/>
<a href="./graph?from=4&to=2&by=eco">Find path from 4 to 2 by eco</a>